        * {
            margin: 0;
            padding: 0;
        }
        
        #nav-bar {
            position: sticky;
            top: 0;
            z-index: 10;
        }
        .navbar-light{
            transition: 0.5s !important;
        }
        .navbar {
            /* background-image: linear-gradient(to right, #74d1d6, #299399); */
            width: 100% !important;
        }
        .navbar-sky{
            
            background-image: linear-gradient(to right, #74d1d6, #299399) !important;

        }
        .navbar-sky .navbar-brand{
           
            transition: 0.5s;
             color:#fff;
        }
        
        
        .navbar-sky .navbar-nav a{
            color:#fff !important;
            transition: 0.5s;
        }
        .navbar-brand {
            font-weight: 600;
       
            font-size: x-large;
            
            font-family: "Poppins", sans-serif;
            font-style:italic;
        
  


        }
        
        .navbar-nav li {
            padding: 0 20px;
            
        }
        
        .navbar-nav li a {
            font-weight: 400;
         
            font-size:large;
            color: #000 !important;
        }
        
        .navbar-nav li a:hover {
            color: #299399 !important;
            border-bottom: 2px solid #000;
           
        }
        .navbar-nav{
            margin-right:180px;
        }
        .main-img {
            width:400px;
            height: 300px;
            border-radius: 50%;
        }
        
         
        .navbar ul{
            margin-right: 10px !important;
        }
        #banner {
            background-image: linear-gradient(to right, #74d1d6, #299399);
            color: #fff;
            padding-top: 5%;
        }
        
        .promo-text{
            
           color: #fff;
           margin-bottom: 50px;
           font-size: 26px;
           font-family: "Poppins", sans-serif;
            
        }
        .promo-text span{
            
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #fff;

        }
        
        
        
        
         
        .promo-title {
            /* margin: 0 0 10px 0; */
            font-size: 64px;
            font-weight: 700;
            line-height: 56px;
            color: #fff;
            font-style: italic;            
        }
        .btn-outline-light:hover{
            color:#fff;
            background-color: rgba(0, 0, 0, 0.9)
        }
        
        .btn-info{
            font-size:20px;
            font-weight: 600;
            font-style: italic;
            
        }
        .btn-info:hover{
            color:#fff;
            background-color:#000;
            border:2px solid #fff;
            font-style: italic;
            
            font-size:22px;
        }
        .btn-outline-light{
            /* background-color: rgba(255, 255, 255, 0.3); */
            color:#000;
            background-color: #fff;
        }
        
        .network-img {
            width: 200px;
        }
        
        .btnservice {
            width: 200px;
            height: 60px;
        }
        
        .btnservice:hover {
            background-color: #299399;
            border: 2px solid #fff;
        }
/* about us */

.developer{
  font-weight: 700;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.7);
  /* font-style: italic; */
}
/* about end */




.about::before {
    content: '';
    width: 200px;
    background: #299399;
    height: 5px;
    display: block;
    margin: auto auto;
    transform: translateY(63px);
}

.about::after {
    content: '';
    width: 50px;
    background: #299399;
    height: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    transform: translateY(8px);
}

        
/* skills */
.skills-h1{
    margin-bottom: 100px;
    font-weight:700;
    font-style:italic;
    margin-top: 100px;
}
.skills .progress {
    height: 80px;
    display: block;
    background: none;
  }
  
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #050d18;
  }
  
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
  .skills .progress-bar-wrap {
    background: #dce8f8;
  }
  
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-image: linear-gradient(to right, #74d1d6, #299399);

  }
  
.skills-h1::before {
    content: '';
    width: 200px;
    background: #299399;
    height: 5px;
    display: block;
    margin: auto auto;
    transform: translateY(63px);
}

.skills-h1::after {
    content: '';
    width: 50px;
    background: #299399;
    height: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    transform: translateY(8px);
}
    
.project-img{
    width:100%;
    border-radius:50px;
    cursor:pointer;
    height:400px;

}

.project-img:hover{
opacity:0.7;
    
}
.project-section{
    margin-top: 180px;
    margin-bottom:200px;
}

.project-section h1{
    margin-bottom:200px;
    
}

.project-section p{
    margin-bottom: 50px;
}

.project-detail h3{
    margin-bottom:30px;
}
.project-detail{
    margin-left:50px;
    margin-top:50px;
}

.project-buttons{
    margin-left:50px;
}
        .choose-us::before {
            content: '';
            width: 200px;
            background: #299399;
            height: 5px;
            display: block;
            margin: auto auto;
            transform: translateY(63px);
        }
        
        .whatwedo::after {
            content: '';
            width: 50px;
            background: #299399;
            height: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 100px;
            transform: translateY(8px);
        }
        .choose-us::after {
            content: '';
            width: 50px;
            background: #299399;
            height: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 100px;
            transform: translateY(8px);
        }
        
        .clients::before {
            content: '';
            width: 200px;
            background: #299399;
            height: 5px;
            display: block;
            margin: auto auto;
            transform: translateY(63px);
        }
        
        .clients::after {
            content: '';
            width: 50px;
            background: #299399;
            height: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 100px;
            transform: translateY(8px);
        }
        
        .clientimg {
            width: 100px;
            border-radius: 50px;
            margin-right: 5px;
        }
        
        .clientDetail {
            display: inline-block;
            font-size: 20px;
        }
        
        .testimonial {
            border-left: 4px solid #299399;
            margin-bottom: 50px;
            margin-top: 50px;
        }
        
        .icon-img {
            width: 150px;
            height: 150px;
        }
        
        .social-images {
            display: inline;
        }
        
        .social-img {
            width: 100px;
            height: 100px;
            transition: 0.5s;
        }
        
        .social-images a:hover img {
            transform: translateY(-20px);
        }
        
        .contactus::before {
            content: '';
            width: 200px;
            background: #299399;
            height: 5px;
            display: block;
            margin: auto auto;
            transform: translateY(63px);
        }
        
        .contactus::after {
            content: '';
            width: 50px;
            background: #299399;
            height: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 100px;
            transform: translateY(8px);
        }
        
        #social-media {
            background: #f8f9fa;
            padding: 100px 0px;
        }
        
        .footer-col {
            margin-top: 50px;
        }
        
        .footer {
            background-image: linear-gradient(to right, #74d1d6, #299399);
        }
        
        .footer-row p,
        h2 {
            color: #fff;
        }
        
        .footer-logo {}